<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
</head>
<body>
<h1> 비밀번호 재설정 </h1>
<div> 사용자 확인이 되었습니다. 비밀번호 재설정 후 사용 가능합니다.</div>
<form method="post">
    <div>
        <p>아이디</p>
        <input type="text" name="userId" placeholder="아이디" required/>
    </div>
    <div>
        <p>비밀번호</p>
        <input type="password" name="password" placeholder="영문자+숫자+특수기호 8~13자리" required />
    </div>
    <div>
        <p>비밀번호 재입력</p>
        <input type="password" name="rePassword" placeholder="영문자+숫자+특수기호 8~13자리" required/>
    </div>
        <button type="submit"> 비밀번호 재설정 </button>
    </div>
</form>

</body>
</html>