<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
</head>
<body>
    <h1>비밀번호 찾기</h1>
    <form method="post">
        <div>
            <p>아이디</p>
            <input type="text" name="userId" placeholder="영문자+숫자 5자리 이상" />
        </div>
        <div>
            <p>이름</p>
            <input type="text" name="userName" placeholder="이름" />
        </div>
        <div>
            <p>휴대폰번호</p>
            <input type="text" name="phoneNumber" placeholder="-없이 숫자만 입력"/>
        </div>
        <div>
            <p>이메일</p>
            <input type="email" name="userEmail" placeholder="@포함한 회사 이메일 입력(abd@abc.co.kr)"/>
        </div>

        <div>
            <button type="submit"> 비밀번호 찾기 </button>
        </div>
    </form>
</body>
</html>