<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
<h1> 회원가입 </h1>
<div>
    <div>
        <a href="/member/register_student">원우</a>
        |
        <a href="/member/register_professor">교수</a>
        |
        <a href="/member/register_staff">교학과</a>
    </div>
</div>

<form method="post">
    <div>
        <p>아이디</p>
        <input type="text" name="userId" placeholder="영문자+숫자 5자리 이상" required />
    </div>
    <div>
        <p>비밀번호</p>
        <input type="password" name="password" placeholder="영문자+숫자+특수기호 8~13자리" required />
    </div>
    <div>
        <p>비밀번호 재입력</p>
        <input type="password" name="rePassword" placeholder="영문자+숫자+특수기호 8~13자리" required/>
    </div>

    <div>
        <p>국적</p>
        <select name="nationality">
            <option>선택</option>
            <option value="한국">한국</option>
            <option value="몽골">몽골</option>
            <option value="베트남">베트남</option>
            <option value="중국">중국</option>
        </select>
    </div>

    <div>
        <p>이름</p>
        <input type="text" name="userName" placeholder="이름 입력" required />
    </div>

    <div>
        <p>휴대폰번호 <input type="checkbox" name="openphone"/>공개</p>
        <input type="tel" name="phone" placeholder="-없이 숫자만 입력" required />
    </div>

    <div>
        <p>이메일 <input type="checkbox" name="openemail"/>공개 </p>
        <input type="email" name="userId" placeholder="@포함한 회사 이메일 입력(abd@abc.co.kr)" required />
    </div>
    <div>
        <p>학번</p>
        <input type="text" name="studNumbr" placeholder="학번 입력">
    </div>

    <div>
        <p>전공</p>
        <select name="major">
            <option>선택</option>
            <option>금융&부동산학과</option>
            <option>문화콘텐츠영영학과</option>
            <option>복지경영학과</option>
            <option>서비스경영학과</option>
            <option>이노비즈니스학과</option>
            <option>이미지경영학과</option>
            <option>전문경영학과</option>
        </select>
    </div>
    <div>
        <p>재학 여부</p>
        <select name="studState">
            <option>재학중</option>
            <option>휴학중</option>
            <option>졸업</option>
        </select>
    </div>

    <div>
        <p>거주 또는 활동 지역</p>
        <select> <option></option></select>
    </div>
    <div>
        <p>직업</p>
        <select>
            <option></option>
        </select>
    </div>
    <div>
        <button type="submit">회원 가입</button>
    </div>
</form>



</body>
</html>